/* Matt - Lab W 12-2
    Ian - lab TH 12-2
*/

/* do font stuff */
body{
    /* import font */
    font-family: 'Montserrat', serif;
    /* weights 300 400 500 */
    margin: 0; 
}

.banner{
    background-image: url(../images/globe.jpg); 
    color:#FFFFFF;
    height: 700px;
}

.banner-text{
    position: absolute;
    top: 50%;
    padding-left:30px;
    font-weight: bold;
}

/* vertically center the header text and logos*/
header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color:black;
    vertical-align: middle;
}

.social img{
    height: 20px;   
    float:right; 
    padding: 3px;
}

nav{
    margin-left: 100px;
    display: inline;
}

nav ul{
    list-style: none;
    display:inline;
    word-spacing: 20px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff
}

nav ul li a:hover{
    color: #FFFFFF;
}

nav ul li a:visited{
    color: #FFFFFF;
}

.nav-logo{
    flex:50%;
}

.logo{
    display: inline;
    color: #FFFFFF;
}

.social{
    flex:0%;
    float:right;
}


main{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgrey;
    gap:50px;
}

main img{
    height:300px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: black;
    color:#FFFFFF;
    vertical-align: middle;
}

/* put on different lines */
.questions{
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn{
    background-color: #992222;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.learn:hover{
    background-color: red;
    font-weight: bold;
}